.toolbar-main {
    background: #AFD6D6;
    justify-content: space-between;
    height: 60px;
    min-height: 0;
}

.toolbar-main .MuiAppBar-paper{
    box-shadow: 0px !important; 
}

.toolbar-text {
    color: #000000;
    font-size: 32px;
}

.layoutDrawer .MuiDrawer-paper{
    display:'block';
    width: 200px;
    background: linear-gradient(#6CBDBD, #407070);
}
