@import './../MapaVuelos/MapaVuelos.css';

.leaflet-left .leaflet-control {
    margin-left: 895px;
}

.leaflet-bar a{
    color:#19D2A6;
}

.container-buttons{
    height: 100px;
}

.button-control{
    position: relative;
    color: white;
    height: 30px;
    width: 40px;
    font-size: 11px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    min-width: 10px;
}

.button-disabled-a{
    background-color: #D6D6D6 !important;
    font-size: 11px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.button-return{
    position: relative;
    color: white;
    font-size: 11px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    min-width: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.cell-ID{
    width: 100px;
}

.cell-city{
    width: 100px;
}

.cell-state{
    width: 100px;
}

.button-flights{
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.loading-comp{
    color: #19D2A6;
}

.table-simulation-flights{
    height: 487px;
    width: 400px;
    overflow-y: scroll;
    margin-top: 10px;
}

.box-legend{
    background-color: #d0d0d0;
    border: 5px solid #d0d0d0 ;
    border-radius: 10px;
    margin-bottom: 10px;
}

.button-return-dialog.MuiDialogActions-root{
    justify-content: center;
}

.container-report{
    padding-right: 20px;
    padding-bottom: 20px;
}

.container-report-header{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20px;
}

.container-report-title{
    position: relative;
    font-size: 28px;
    margin-bottom: 20px;
}

.container-report-info{
    font-size: 22px;
    margin-bottom: 10px;
}

.container-report-grid{
    background-color: #e7e7e7;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.container-report-label{
    font-size: 16px;
    margin-right: 16px;
}

.textfield-info{
    width: 120px;
}

.table-package-flight-large{
    height: 450px;
    width: 1000px;
    overflow-y: scroll;
}

.table-package-flight{
    height: 200px;
    width: 1000px;
    overflow-y: scroll;
}

.alert-collapse{
    position: absolute;
    margin-top: 575px;
    margin-left: 375px;
    z-index: 5000;
    color: #FFFFFF;
    background-color: #D32F2F;
    border-radius: 4px;
    padding: 10px;
}

.alert-title{
    font-size: 20px;
}

.alert-button{
    background-color: yellow !important;
    color: #000000;
}

.checkbox-flights{
    color: #19D2A6 !important;
}

.table-airports{
    height: 538px;
    width: 280px;
    overflow-y: scroll;
    margin-top: 10px;
}