@import './../MapaVuelos/MapaVuelos.css';

.leaflet-left .leaflet-control {
    margin-left: 895px;
}

.leaflet-bar a{
    color:#19D2A6;
}

.container-buttons{
    height: 100px;
}

.button-control{
    position: relative;
    color: white;
    height: 30px;
    width: 60px;
    margin: 0px 15px 0px 16px;
    font-size: 11px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.button-disabled-a{
    background-color: #D6D6D6 !important;
    font-size: 11px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.button-pause{
    background-color: #F8EF2C !important;
}
.button-stop{
    background-color: #D32F2F !important;
}

.table-flights{
    height: 426px;
    width: 355px;
    overflow-y: scroll;
}

.table-flights::-webkit-scrollbar {
    width: 10px;
}

.table-flights::-webkit-scrollbar-track {
    background: #f1f1f1;
}

  /* Handle */
.table-flights::-webkit-scrollbar-thumb {
    background: #888;
}
  
  /* Handle on hover */
.table-flights::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.table-flights-cell{
    justify-content: center;
    padding: 8px;
}

.cell-ID{
    width: 70px;
}

.cell-state{
    width: 80px;
}

.cell-action{
    width: 120px;
}

.button-flights{
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.state-text {
    font-size: 10px;
    text-align: center;
    border-radius: 8px;
    padding: 2px;
    margin: 2px;
    width: 80px;
}