.title{
    position: absolute;
    margin: 10px 0px 0px 20px;
    font-size: 28px;
    z-index: 2000;
}

.date-map{
    position: absolute;
    margin: 610px 0px 0px 20px;
    font-size: 20px;
    z-index: 2000;
}

.time-map{
    position: absolute;
    margin: 560px 0px 0px 20px;
    font-size: 20px;
    z-index: 2000;
}

.mapa-vuelo{
    position: relative;
    max-width: 850px;
    max-height: 600px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.mapaVuelo{
    max-width: 800px;
    max-height: 550px;
}

.containerMapa{
    display: flex;
    margin-top: 20px;
}