.logoContainer{
    background: #407070;
    color: #FFFFFF;
    height: 60px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoText{
    font-size: 28px;
    font-weight: 100 !important;
}

.lateralMenuButton{
    display: flex;
    align-items: left;
    text-align: left;
    font-size: 14px;
    color: #FFFFFF;
    padding-left: 10px;
}

.menuIcon{
    color: white;
    width: 60px;
}

.buttonSelected .MuiTypography-root{
    font-weight: 600;
}

.buttonInvisible{
    visibility: hidden;
}

.buttonVisible{
    visibility: visible;
}