.logoContainer{
    background: #407070;
    color: #FFFFFF;
    height: 100px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoText{
    font-size: 28px;
    font-weight: 100 !important;
}

.menuLateralContainer{
    /*background-color: linear;
    background: linear-gradient(#6CBDBD, #407070);
    height: 247%;*/
}

.lateralMenuButton{
    display: flex;
    align-items: left;
    text-align: left;
    font-size: 14px;
    color: #FFFFFF;
}

.menuIcon{
    color: white;
    width: 60px;
}

.buttonSelected{
    font-weight: 600 !important;
}